@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Ubuntu:wght@300;400;700&display=swap');

body
{
    background: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.content
{
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.profile-pic
{
    height: 25%;
    border-radius: 50%;
}

h1
{
    font-size: 3em;
    font-weight: 700;
}

h2
{
    font-size: 2em;
    font-weight: 300;
}

p, ul
{
    font-family: 'DM Mono', monospace;
    font-size: 1.2em;
    line-height: 1.7em;
}

a
{
    color: white;
}

.social-icons img
{
    width: 50px;
    height: 50px;
    margin: 5px;
}
